/* colors */   
$main-blue: #010922;
$main-red: #DD2D4A;
$main-pink: #FDD9DF;
$grey-1: #585757;
$grey-2: #949494;
$grey-3: #F0EDEE;
$grey-4: #F8F8F8;
$light-grey: #F0EDEE;
/* space */
$space: 8px;

body
    font-size: 16px;
    font-family: sans-serif;
    color: $grey-1;

h2
    font-size: 1.5em


#hero 
    background-color: $main-blue;
    color: $light-grey;

    h1
        color: $light-grey;
        font-size: 2em;



    
    
    

