html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Arimo', sans-serif;
  line-height: 1.5;
  background-color: #FBF8F3
}

/* Grid setup */
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1.25em;
  grid-row-gap: 1.75em;
  align-content: center;
  justify-items: center;
  padding: 0px 32px;
  max-width: 1044px;
  margin: 0 auto;
}

.top-left {
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: center;
}

.top-right {
  grid-column-start: 4;
  grid-column-end: 7;
  align-self: center;
}

.top-img {
  width: auto;
}

.bottom-left {
  grid-column-start: 1;
  grid-column-end: 3;
}

.bottom-middle {
  grid-column-start: 3;
  grid-column-end: 5;
}

.bottom-right {
  grid-column-start: 5;
  grid-column-end: 7;
}

.bottom-left, .bottom-middle, .bottom-right {
  margin-bottom: 32px;
}

.container>h2 {
  grid-column-start: 1;
  grid-column-end: 7;
}

@media screen and (max-width: 720px)  {

  .top-left, .top-right, .bottom-left, .bottom-middle, .bottom-right {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-column: 1/7;
    justify-self: baseline
  }
  
  .top-img {
    max-width: 80vw;
  }
}

h1, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 2.1em
}

.top-left>p {
  font-size: 1.2em
}

.logo {
  padding-top: 2em;
  padding-bottom: 6em
}
